body {
    background-color: rgb(165, 67, 147);
}

.container {
    width: 100%;
    display: flex;
}

header {
    height: 100px;
    background-color: rgb(64, 91, 200);
}

header nav {
    display: flex;
}

header nav ul {
    padding: 10px 20px;
    justify-content: flex-end;
    background-color: rgb(245, 218, 184);
}

#split {
    height: 300px;
    display: flex;
    background-color: rgb(176, 72, 72);
}

#pictures {
    height: 300px;
    display: flex;
    background-color: rgb(76, 157, 38);
}

#pictures img {
    align-items: center;
}

#learn_more {
    height: 30px;
}

#bee {
    border-radius: 12px;
    padding: 30px;
}

#quote {
    height: 300px;
    display: flex;
    background-color: rgb(131, 127, 127);
}

#quote p {
    font-size: 20px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#action {
    height: 100px;
    display: inline;
    background-color: rgb(237, 223, 204);
}

footer {
    height: 100px;
    display: flex;
    background-color: rgb(212, 144, 55);
}