.container {
    display: flex;
}

header {
    width: 100%;
    height: 60px;
    background-color: green;
}

header nav ul {
    display: inline-flex;
    justify-content: flex-end;
    background-color: antiquewhite;
}

#split {
    height: 100px;
    display: inline-flex;
    background-color: red;
}

#pictures {
    height: 100px;
    display: inline-flex;
    background-color: yellow;
}

#quote {
    height: 100px;
    display: inline-flex;
    background-color: blueviolet;
}

#action {
    height: 100px;
    display: inline-flex;
    background-color: antiquewhite;
}

footer {
    margin: 0 auto;
}

footer img {
    height: 60px;
    background-color: aquamarine;
}